---

---

<footer class="flex flex-col items-center gap-3 bg-slate-700 pt-2">
    <h1 class="font-bold text-xl">
        Apoya mi trabajo como desarrollador. ¡Gracias por tu apoyo!
    </h1>
    <div class="flex justify-around w-full">
        <a
            href="https://cafecito.app/farfetchdev"
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-col items-center"
        >
            <p class="font-bold">Donar con Cafecito App</p>
            <img
                srcset="https://cdn.cafecito.app/imgs/buttons/button_1.png 1x, https://cdn.cafecito.app/imgs/buttons/button_1_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x"
                src="https://cdn.cafecito.app/imgs/buttons/button_1.png"
                alt="Invitame un café en cafecito.app"
            /></a
        >
        <div>
            <p class="font-bold">Sigueme en mis Redes Sociales</p>
            <div class="flex gap-2">
                <a
                    href="https://facebook.com/farfetchdev"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <img
                        src="https://img.icons8.com/color/48/000000/facebook.png"
                        alt="Facebook"
                    />
                </a>
                <a
                    href="https://instagram.com/farfetchdev"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <img
                        src="https://img.icons8.com/color/48/000000/instagram-new.png"
                        alt="Instagram"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/in/david-dante-farfan/"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <img
                        src="https://img.icons8.com/color/48/000000/linkedin.png"
                        alt="LinkedIn"
                    />
                </a>
                <a
                    href="
                    https://www.youtube.com/@farfetchdev"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <img
                        src="https://img.icons8.com/color/48/000000/youtube-play.png"
                        alt="YouTube"
                    />
                </a>
            </div>
        </div>
        <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
        >
            <p class="font-bold">Donar con PayPal</p>
            <input
                type="hidden"
                name="hosted_button_id"
                value="9X5M3HPLKJZEN"
            />
            <input
                type="image"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                name="submit"
                title="PayPal - The safer, easier way to pay online!"
                alt="Donate with PayPal button"
            />
            <img
                alt=""
                src="https://www.paypal.com/en_AR/i/scr/pixel.gif"
                width="1"
                height="1"
            />
        </form>
    </div>
    <div class="p-2">
        <!-- Copyright -->
        <p class="text-xs">
            &copy; 2024 <a
                href="https://farfetchdev.web.app"
                class="text-blue-500 font-bold">FarfetchDev</a
            >. Todos los derechos reservados.
        </p>
    </div>
</footer>
