---
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.5.136/pdf.min.mjs"
            type="module"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer
        ></script>
        <title>{title}</title>
    </head>
    <body class="bg-slate-800 text-white w-dvw p-2">
        <slot />
    </body>
</html>
<style is:global>
    * {
        box-sizing: border-box;
    }
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, sans-serif;
        max-width: 100%;
    }
</style>
